* {
  font-family: monaco;
  margin:0px auto;
}
#left{
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 500px;
}
#right{
  display:inline-block;
  vertical-align: top;
  overflow: scroll;;
  width:400px;
  width: 500px;
  border: 3px solid #eee;

}
