<html>

<head>
    <link rel="stylesheet" href="/static/css/books.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">WELCOME, {{session['name']}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/books">Home</a></li>
                    <li><a href="/books/addpage">Add Book and Review</a></li>
                    <li><a href="/users/logout">logout</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div id="left">
      {%  for x in books %}

      <div id='feed'>
        <h3><a href="/books/{{x['book_id']}}">{{  x['title'] }}</a></h3><br>
        <p>Rating:{{    x['rating']   }}</p><br>
        <p><a href="/users/{{x['id']}}">{{ x['name']}}</a> says:{{   x['review']  }}</p><br>
        <p>Posted on {{ x['created_at'] }}</p>
        REVIEWID={{x['review_id']}}

        {% if session['userid'] == x['id']%}

        <form action="/delete/{{x['review_id']}}" method="post">
          <input type="submit" value="delete my review">
      </form>
        {% endif %}
      </div>

      {% endfor %}


    </div>
    <div id='right'>
      <h3>Other Books with Reviews:</h3>

    {% for x in titles %}
      <p><a href="/books/{{x['id']}}">{{x['title']}}</a></p>

    {% endfor %}

    </div>





</body>

</html>
